.dialogWindow{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	padding:20px 30px;
	width:100%;
	box-sizing:border-box;
	
}
.dialogs{
	width:30%;
	box-sizing:border-box;
	
}

.messageWindow{
	box-sizing:border-box;
	width:70%;
	
}

.messages{
	padding:0 30px;
	box-sizing:border-box;
	display:flex;
	flex-direction:column;
	flex-basis:content;
	align-items:flex-start;
	width:100%;
	height:440px;
	overflow-y:auto;
}

.active{
	color:red;
}
.newMessage{
	display:flex;
	flex-direction:column;
	width:60%;
	margin:auto;
	margin-bottom:0;
}